body {
background-color:hsla(166,70%,23%,1);
background-image:
radial-gradient(at 40% 20%, hsla(72,27%,58%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(81,20%,61%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(118,19%,42%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(131,74%,20%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(53,83%,33%,1) 0px, transparent 50%),
radial-gradient(at 85% 100%, hsla(137,42%,51%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(116,100%,76%,1) 0px, transparent 50%);
background-attachment: fixed;
}